body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #0D202B;
}

.f-normal{
    font-family: 'Merriweather Sans', sans-serif;
}

.f-no-normal{
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-box{
    display: flex;
    
}

.dis-grid{
    display: grid;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #22223f;
    position: fixed;
    width: 100%;
  }
  
  .logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
  }
  
  .nav-links{
      display: flex;
      list-style: none;
      justify-content: space-around;
      width: 25%;
  }
  
  .nav-links a{
      color: #fff;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
  }

#contain{
    margin: 100px  auto;
    
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-areas : 'first second second' ; */
    width:  1200px;
    height: auto;

}

.filter{
    /* border-right: 1px solid #17313a; */
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 20px;
    color: white


}



.title{
    color: #fff;
    font-size: 100%;
}

.champ-list{
    padding: 0 0 0 30px;
    border-left: 1px solid #17313a;
}

.divider{
    display: block;
    width: 100%;
    height: 1px;
    background: #17313a;
    margin-top: 20px;
    margin-bottom: 10px;
}

.characters-list{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.coin-5{
    border: 1px solid #b89d27;
}

.coin-4{
    border: 1px solid #893088;
}

.coin-3{
    border: 1px solid #12407c;
}

.coin-2{
    border: 1px solid #156831;
}

.coin-1{
    border: 1px solid #213042;
}

.characters-items{
    max-height: 55px;
    max-width: 55px;
    background-size: cover;
    /* opacity: 0.5; */
    /* margin-left: auto;
    margin-right: auto; */
}

.f-title{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #88a0a7;
    line-height: 1.3em;
    /* font-weight: 400; */
    margin: 5px;
    margin-bottom: 20px;
    /* margin: ; */
}
#reset{
    width: 80px;
    height:40px;
    background-color: #0D202B;
    color: white;
    border: 1px #17313A solid;
    border-radius: 5px;
}
button{
    background-color: #0D202B;
    border: none;
}

.cost-main{
    background-color: #0D202B;
    width: 100%;
    border: none;
    border-left: 5px solid #227aad;
    text-align: left;
    height: 35px;
    font-size: 30px;
    margin-bottom: 10px;

}

.cost-sp{
    background-color: #0D202B;
    width: 100%;
    border: none;
    
    text-align: left;
    height: 35px;
    font-size: 15px;
    color: #8f989d;
}

.cost-img{
    width: 15px!important;
    height: auto!important;
    border: none!important;
    margin-right: 10px;
    opacity: .54;
    transition: opacity .3s;
}

.ori-img{
    margin-right: 10px;
    width: 24px;
    opacity: .8;
}

.original{
    background-color: #0D202B;
    width: 100%;
    border: none;
    
    text-align: left;
    height: 35px;
    font-size: 15px;
    color: #8f989d;
}